<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel='icon' href="/static/vpre favicon.png" type='image/x-icon'/>
    <title>VPRE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@500&display=swap" rel="stylesheet">
</head>




<script type="text/javascript">
    function show(){
    document.getElementById("result-area").innerHTML= "Predicted sequences for SARS-CoV-2 from file";

    tx = "Predicted sequences for SARS-CoV-2 from file";
    html = "";
    for (i = 0; i < tx.length; i++)
    {
      html += "<span>" + tx.charAt(i) + "</span>";
    }
    document.getElementById("result-area").innerHTML = html;
    }

    function visualize(){
    tx = document.getElementById("sequence").value;

    html = "";
    for (i = 0; i < tx.length; i++)
    {
      html += "<span>" + tx.charAt(i) + "</span>";
    }
    document.getElementById("result-area").innerHTML = html;
    }
</script>


<body>

<header>
<div class="menu">
        <nav>
               <ul>
                    <li><a href="https://github.com/UBC-BioDesign/RNN-CoV">Tool</a></li>
                    <li><img src="/static/virosight-logo.png"></li>
                    <li><a href="https://virosight.ca/">Home</a></li>
               </ul>
        </nav>
</div>
    <br>
    <h1><b>Viral Predictor for mRNA Evolution (VPRE)</b></h1>
    <h2><b>A software tool brought to you by UBC Virosight</b></h2>
    <br>
</header>

   <div class="content">
   <div class="intro">
       <div class="description">
           <p>VPRE uses a viral genome and species name inputted by the user to predict the  most probable mutated sequences based on the species' phylogeny. Our algorithm uses deep learning to produce this output, implementing both a neural network training set and Markov models.</p>
     </div>
   </div>


<div class="container" style="display: flex">
    <form class="form-group" action="/predict" method="POST" enctype = "multipart/form-data" style="width: 50%; margin-top: 2%">
        <label><h3><b>Viral Genome inputs:</b></h3></label>
        <p><img src="/static/1.png">Input the species name of your virus below:</p>
        <select class="form-control" id="sel1" style="background:#2b2b2b; color:white">
        <option>SARS-CoV-2</option>
        </select>

        <p><img src="/static/2.png">Input your viral genome below (in fasta format):</p>
        <input type="file" id="real-file" name="real-file" hidden="hidden"/>
    <button type="button" class="btn btn-outline-success" id="custom-button">Choose a file</button>
    <span id="custom-text">No file chosen</span>

       <script type="text/javascript">
            const realFileBtn = document.getElementById("real-file");
            const customBtn = document.getElementById("custom-button");
            const customTxt = document.getElementById("custom-text");
            customBtn.addEventListener("click", function() {
                realFileBtn.click();

            });

           realFileBtn.addEventListener("change",function() {
              if (realFileBtn.value) {
                  customTxt.innerHTML = realFileBtn.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
              } else {
                  customTxt.innerHTML = "No file chosen"
              }
           });
        </script>

        <p><img src="static/3.png">Run your inputs through VPRE:</p>
        <button type="submit" id="tool" class="btn btn-outline-success" style="margin-top:2%">Predict</button>
    </form>
    <div class="form-group" style="width:50%; margin-left: 5%; margin-top: 2%;">
        <label><h4><b>Predicted mRNA sequences:</b></h4></label>
        <div class="visualization-area">
            <p id="result-area">{{prediction_text}}</p>
<!--            <img src="{{pic_url}}"/>-->
        </div>
        <div class="btns" style="display:flex; justify-content: space-around">
            <form class="form-group" style="width: 50%" action="/download_seq" method="POST">
            <input hidden type="text" id="seq_url" name="seq_url">
            <p id ="s_download_link" hidden>{{download_url}}</p>
            <button type="submit" id="download" class="btn btn-outline-primary" style="margin-top:2%; margin-left: 12%;">Download sequence</button>
        </form>
        <form class="form-group" style="width: 50%" action="/download_pic" method="POST">
            <input hidden type="text" id="pic_url" name="pic_url">
            <p id ="p_download_link" hidden>{{pic_url}}</p>
            <button type="submit" id="download" class="btn btn-outline-primary" style="margin-top:2%; margin-left: 7%;">Download image</button>
        </form>
        </div>

    </div>
    </div>
       <p style="text-align: right; font-size:11px; margin-right: 3%">* Note: The predicted sequence is shorter than the actual spike protein mRNA for demonstration purposes.</p>
    </div>

    <script>
        s_url = document.getElementById("s_download_link").innerHTML;
        document.getElementById("seq_url").value = s_url;

        p_url = document.getElementById("p_download_link").innerHTML;
        document.getElementById("pic_url").value = p_url;
    </script>
</body>
</html>
